# dependencies
node_modules/

# env files
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*

# build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# coverage
coverage/